NODEREAL_ID="xxx"
BSC_RPC_MAINNET="https://bsc-mainnet.nodereal.io/v1/xxx"
BSC_WEBSOCKET_MAINNET="wss://bsc-mainnet.nodereal.io/ws/v1/xxx"

BSC_RPC_TESTNET="https://bsc-testnet.nodereal.io/v1/xxx"
BSC_WEBSOCKET_TESTNET="wss://bsc-testnet.nodereal.io/ws/v1/xxx"

PRIVATE_KEY="xxx"